Display LK204 {
    Driver 'MatrixOrbital'
    Model 'LK204-24-USB'
    Port '/dev/usb/tts/0'
    Port '/dev/tts/0'
    Speed 19200
    Contrast 256/2
}

Widget OS {
    class 'Text'
    expression '*** '.uname('sysname').' '.uname('release').' ***'
    width 20
    align 'C'
    update tick
}

Widget CPU {
    class  'Text'
    expression  uname('machine')
    postfix ' CPU'
    width  10
    align  'L'
    update tick
}


Widget RAM {
    class  'Text'
    expression meminfo('MemTotal')/1024
    postfix ' MB RAM'	
    width  5
    precision 0
    align  'R'
    update tick
}

Widget Disk {
    class  'text'
    expression  Pi
    width 10
    precision 2
    align  'R'
    update tick
}


Widget LAN {
    class  'text'
    expression  "12.12345678"
    width 10
    precision 2
    align  'M'
    update tick
    speed tack
}


Layout Default {
    Row1 {
	Col1  'OS'
    }
    Row02 {
	Col1  'CPU'
	Col10 'RAM'
    }
}

Display 'LK204'
Layout  'Default'


Variables {
   tick 500
   tack 100
}
