Display LK204 {
    Driver 'MatrixOrbital'
    Model 'LK204-24-USB'
    Port '/dev/usb/tts/0'
#   Port '/dev/tts/0'
    Speed 19200
    Contrast 256/2
}


Display myHD44780 {
    Driver 'HD44780'
    Port '/dev/parports/0'	
#   Port '0x378'
    Bits '8'
    Size '20x4'
    Wire {
	RW     'GND'
	RS     'AUTOFD'
	ENABLE 'STROBE'
	GPO    'INIT'
    }
}


Widget OS {
    class 'Text'
    expression '*** '.uname('sysname').' '.uname('release').' ***'
    width 20
    align 'C'
    update tick
}

Widget CPU {
    class  'Text'
    expression  uname('machine')
    prefix 'CPU '
    width  9
    align  'L'
    update tick
}


Widget RAM {
    class  'Text'
    expression meminfo('MemTotal')/1024
    postfix ' MB RAM'	
    width  11
    precision 0
    align  'R'
    update tick
}

Widget Busy {
    class 'Text'
    expression cpu('busy', 500)
    prefix 'Busy'	
    postfix '%'	
    width 10	
    precision 1
    align 'R'	
    update tick	
}	

Widget BusyBar {
    class 'Bar'
    expression  cpu('busy',   500)
    expression2 cpu('system', 500)
    length 10	
    direction 'E'
    update tack
}

Widget Load {
    class 'Text'
    expression loadavg(1)
    prefix 'Load'
    postfix loadavg(1)>1.0?'!':' '
    width 10
    precision 1
    align 'R'
    update tick
}

Widget LoadBar {
    class 'Bar'
    expression  loadavg(1)
    max 2.0
    length 10	
    direction 'E'
    update tack
}


Layout Default {
    Row1 {
	Col1  'OS'
    }
    Row2 {
	Col1  'CPU'
	Col10 'RAM'
    }
    Row3 {
	Col1  'Busy'
	Col11 'BusyBar'
    }
    Row4 {
	Col1 'Load'
	Col11 'LoadBar'
    }
}


Display 'myHD44780'
Layout  'Default'

Variables {
   tick 500
   tack 100
}
